body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
  padding-top: 100px;
}
.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
z-index:2000;
}

.popup-box{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
width:90%;
max-width:350px;
}

.popup-box a{
display:inline-block;
margin:15px 0;
background:#25D366;
color:white;
padding:12px 20px;
border-radius:6px;
text-decoration:none;
}

.popup-box button{
background:#eee;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

